@page "/group"
@using APIContracts.DTOs.Group
@using ViaCalendarApp.Services
@inject GroupServiceClient GroupService
@rendermode InteractiveServer
<h3>Group</h3>


<p>@statusMessage</p>

<button class="btn btn-primary mb-2" @onclick="LoadGroups">Load Groups</button>

@if (groups != null)
{
    <ul class="list-group mb-3">
        @foreach (var gr in groups)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>@gr.Name</span>
                <span>
                    <button class="btn btn-sm btn-warning me-1" @onclick="() => StartEdit(gr)">Edit</button>
                    <button class="btn btn-sm btn-danger" @onclick="() => DeleteGroup(gr.Id)">Delete</button>
                </span>
            </li>
        }
    </ul>
}

<h4>@(editingGroup is null ? "Add Group" : "Edit Group")</h4>

<div class="mb-3">
    <label>Group Name:</label>
    <input class="form-control" @bind="formGroupName" />
</div>

<button class="btn btn-success me-1" @onclick="SaveGroup">Save</button>
<button class="btn btn-secondary" @onclick="CancelEdit">Cancel</button>


@code {
    private List<GroupDto>? groups;
    private string statusMessage = "Click 'Load Groups' to fetch data.";
    private int groupId;

    private GroupDto? editingGroup = null;
    private string formGroupName = "";

    private async Task LoadGroups()
    {
        try
        {
            groups = await GroupService.GetAllAsync();
            statusMessage = $"Loaded {groups.Count} groups.";
        }
        catch (Exception ex)
        {
            statusMessage = $"Error loading groups: {ex.Message}";
        }
    }

    private void StartEdit(GroupDto gr)
    {
        editingGroup = gr;
        groupId = gr.Id;
        formGroupName = gr.Name;
    }

    private void CancelEdit()
    {
        editingGroup = null;
        groupId = 0;
        formGroupName = "";
    }

    private async Task SaveGroup()
    {
        if (string.IsNullOrWhiteSpace(formGroupName))
        {
            statusMessage = "Some fields are empty.";
            return;
        }

        try
        {
            var dto = new GroupDto(0, formGroupName);

            if (editingGroup == null)
            {
                await GroupService.CreateAsync(new CreateGroupDto(0,dto.Name));
                statusMessage = $"Group '{dto.Name}'  created.";
            }

            if (editingGroup != null)
            {
                await GroupService.UpdateAsync(new CreateGroupDto(dto.Id, dto.Name));
                statusMessage = $"Group '{dto.Name}' updated.";
            }

            await LoadGroups();
            CancelEdit();
        }
        catch (Exception ex)
        {
            statusMessage = $"Error saving group: {ex.Message}";
        }
    }
    private async Task DeleteGroup(int id)
    {
        try
        {
            await GroupService.DeleteAsync(id);
            statusMessage = $"Group with ID '{id}' deleted.";
            await LoadGroups();
        }
        catch (Exception ex)
        {
            statusMessage = $"Error deleting company: {ex.Message}";
        }
    }
}